body {
    background: #1f282d;
}

.aceh-service {
    max-width: 100%;
    margin: auto;
    width: 400px;
    min-height: 310px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 30px 9px;
}

.aceh-service .container {
    max-width: 100%;
}

input.form-control {
    border: 1px solid #CCC;
    box-shadow: none;
    border-radius: 0;
    font-size: 13px;
}

.aceh-service-item {
    background: #FFF;
    padding: 20px 16px;
    border-top: 2px solid #414142;
    border-radius: 4px;
}

.img-login {
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    transform: rotate(0deg);
    margin: -32px 13px 15px -62px;
    background: #004775;
    border: 2px solid #1d6c9c;
    border-radius: 100%;
}

.img-login img{
    width:100%;
}

.header {
    background: #3c8dbc;
    color: #FFF;
    padding: 10px 20px;
    /* text-align: center; */
    border-bottom: 2px solid #10669e;
    font-size: 17px;
    border-radius: 3px;
    margin: -1px -1px 4px;
}

.btn-success {
    color: #ffffff;
    background-color: #3c8dbc;
    border-color: #08164a;
    font-size: 12px;
    border-radius: 2px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:hover {
    color: #fff;
    background-color: #2774a0;
    border-color: #1f638a;
}

.footer {
    text-align: center;
    font-size: 11px;
    margin-top: 20px;
    color: #a2a2a2;;
}

i.fa {
    width: 15px;
}

.alert {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 12px;
}

.alert {
    background: #c75a5a;
    color: #FFF;
    border-bottom: 1px solid #a25354;
    padding: 8px 15px;
    margin: -20px -16px 20px;
    border-radius: 2px 2px 0 0;
}

.alert i.fa {
    float: left;
    margin: 2px 6px 0;
}