ul.nav.nav-tabs {
    font-size: 12px;
    color: #ffffff;
    box-shadow: 0px -1px 0px #e8e8e8 inset;
    border-radius: 0;
    padding-top: 8px;
    margin-bottom: 0px;
    padding-left: 21px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-color: #eee #eee #ddd;
    border-radius: 4px 4px 0 0;
    background: #0871d8;
    color: #FFF;
    font-weight: 600;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    color: #f9f9f9;
    background: #0871d8;
}

.left-side {
    margin-right: 270px;
    padding: 30px 20px;
}

.right-side {
    position: absolute;
    right: 0;
    width: 250px;
    border-left: 1px solid #e4e4e4;
    font-size: 12px;
    /*color: #ffffff;*/
    box-shadow: 0px -1px 0px #e8e8e8 inset;
    /* border-radius: 0; */
    /* padding-top: 8px; */
    /* margin-bottom: 0px; */
    /* padding-left: 21px; */
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.arcuploader {
    margin: auto;
    text-align: center;
    max-width: 500px;
    margin-top: 100px;
}

img#preview {
    max-width: 100%;
    /*border: 2px solid #fff;*/
}

.alert.alert-danger {
    margin: 20px;
    font-size: 12px;
}

form.form-upload {
    border: 4px dashed #CCC;
    background: #ececec;
    padding: 20px;
    margin: 20px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-control, label {
    font-size: 12px;
}

.panel {
    margin-bottom: 20px;
     background-color: transparent; 
     border: none; 
     border-radius: 0px; 
     box-shadow: none; 
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0px 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.media-img {
    width: 200px;
    height: 120px !important;
    float: left;
    margin: 0px 10px;
    cursor: pointer;
}

.thumbnail{
    float:left;
    margin: 10px;
}

.thumbnail.is_select {
    background: #ffffff;
    box-shadow: 5px 7px 13px #a09a9a;
    border: 1px solid #d2d2d2;
}

img.checked {
    display: none;
    position: absolute;
    margin: -15px;
}