/*
 * Skin: Green
 * -----------
 */
body{
  font-size:12px;
}
a {
    /*color: #047150;*/
}
 .main-header > .navbar{
  margin-left:0;
 }
.skin-green-light .main-header .navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border-bottom: none;
  box-shadow: none;
}
.skin-green-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-green-light .main-header .navbar .nav > li > a:hover,
.skin-green-light .main-header .navbar .nav > li > a:aktif,
.skin-green-light .main-header .navbar .nav > li > a:focus,
.skin-green-light .main-header .navbar .nav .open > a,
.skin-green-light .main-header .navbar .nav .open > a:hover,
.skin-green-light .main-header .navbar .nav .open > a:focus,
.skin-green-light .main-header .navbar .nav > .aktif > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-green-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
  width: 200px;
}
.skin-green-light .main-header .navbar .sidebar-toggle:hover {
  color: #222;
  
  background: rgba(0, 0, 0, 0.1);
}
.skin-green-light .main-header .navbar .sidebar-toggle {
    color: #bfbfbf;
    background: #20282e;
}
.skin-green-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #20282e;
  color: #bfbfbf;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #A3A0A0;
  padding-left: 13px;
  font-size: 10px;
}

.alert {
  font-size: 12px;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #e23c38 !important;
    border: 1px solid rgb(226, 60, 56);
}

.btn-danger:hover, .btn-danger:active, .btn-danger.hover, table .btn-hapus:hover, table .btn-hapus:active, table .btn-hapus.hover {
    background-color: #B63F3F;
    color: #FFF;
    box-shadow: 1px 1px 1px #ca5050 inset;
    border-color: #b63f3f;
    transition: 500ms ease;
}

.dropdown-menu .btn-hapus:hover, .dropdown-menu .btn-hapus:active, .dropdown-menu .btn-hapus.hover{
  box-shadow: none;
  
}

.alert.alert-default {
  border: 1px solid #EFEFEF;
  background: #f7f7f7;
}

@media (max-width: 767px) {
  .skin-green-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-green-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-green-light .main-header .navbar .dropdown-menu li a:hover {
    background: #008d4c;
  }
}
.skin-green-light .main-header .logo {
  background: -moz-linear-gradient(-45deg, rgba(1,71,2,1) 0%, rgba(19,112,9,1) 50%, rgba(16,120,8,1) 51%, rgba(22,105,7,1) 71%, rgba(4,130,23,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,71,2,1)), color-stop(50%, rgba(19,112,9,1)), color-stop(51%, rgba(16,120,8,1)), color-stop(71%, rgba(22,105,7,1)), color-stop(100%, rgba(4,130,23,1)));
  background: -webkit-linear-gradient(-45deg, rgba(1,71,2,1) 0%, rgba(19,112,9,1) 50%, rgba(16,120,8,1) 51%, rgba(22,105,7,1) 71%, rgba(4,130,23,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(1,71,2,1) 0%, rgba(19,112,9,1) 50%, rgba(16,120,8,1) 51%, rgba(22,105,7,1) 71%, rgba(4,130,23,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(1,71,2,1) 0%, rgba(19,112,9,1) 50%, rgba(16,120,8,1) 51%, rgba(22,105,7,1) 71%, rgba(4,130,23,1) 100%);
  background: linear-gradient(135deg, rgba(1,71,2,1) 0%, rgba(19,112,9,1) 50%, rgba(16,120,8,1) 51%, rgba(22,105,7,1) 71%, rgba(4,130,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014702', endColorstr='#048217', GradientType=1 );
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-green-light .main-header .logo:hover {
  background-color: #006637;
}
.skin-green-light .main-header li.user-header {
    background-color: #2e3e4e;
}
.skin-green-light .content-header {
    background: #fff;
    _color: #7B7B7B;
    position: relative;
    z-index: 999;
    display: table;
    width: 100%;
    /*background: #f7f7f7;*/
    /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));*/
    /* background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
    /*background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);*/
    /* background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
    /* border-bottom: 1px solid #e2e2e2; */
}
.skin-green-light .wrapper,
.skin-green-light .main-sidebar,
.skin-green-light .left-side {
  background-color: #1f282d;
  _background: #fff url(../img/boxed-bg.png);
}
.skin-green-light .content-wrapper,
.skin-green-light .main-footer {
  _border-left: 1px solid #d2d6de;
}
.skin-green-light .user-panel > .info,
.skin-green-light .user-panel > .info > a {
  color: #444444;
}
.skin-green-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-green-light .sidebar-menu > li.header {
    color: #a9a5a5;
    background: #121a1f;
    box-shadow: -3px 0px 1px #000000 inset;
}
.skin-green-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  /*font-weight: 600;*/
  font-size: 12px;
}
.skin-green-light .sidebar-menu > li.aktif > a {
    color: #DFDFDF;
    background: #141a1f;
    box-shadow: -3px 1px 0px #050a0e inset;
}
.skin-green-light .sidebar-menu > li.aktif {
  border-left-color: #0C936A;
}
.skin-green-light .sidebar-menu > li.aktif > a {
  _font-weight: 600;
  _color: #0E6407
}
.skin-green-light .sidebar-menu > li > .treeview-menu {
    background: #131a1f;
    box-shadow: -3px 0px 5px #192025 inset;
    border-bottom: 1px solid #080808;
    margin-bottom: -1px;
    border-top: 1px solid #0e0e0e;
    padding: 10px 0;
}
.skin-green-light .sidebar a {
  color: #999;
}
.skin-green-light .sidebar a:hover {
  text-decoration: none;
}
.skin-green-light .treeview-menu > li > a {
  color: #8c8c8c;
  font-size: 12px;
}
.skin-green-light .treeview-menu > li.aktif > a,
.skin-green-light .treeview-menu > li > a:hover {
  _color: #0E6407;
}
.skin-green-light .treeview-menu > li.aktif > a {
    color: rgb(150, 150, 150);
    font-weight: 400;
}
.skin-green-light .treeview-menu > li.aktif > a:before {
    content: " ";
    width: 6px;
    height: 6px;
    position: absolute;
    background: #3c8dbc;
    margin: 5px -13px;
    border-radius: 10px;
}
.skin-green-light .sidebar-form {
    border-radius: 0;
    margin: 0;
    background: #131a1f;
}
.skin-green-light .sidebar-form input[type="text"],
.skin-green-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-green-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-green-light .sidebar-form input[type="text"]:focus,
.skin-green-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  /*background-color: #fff;*/
  /*color: #666;*/
}
.skin-green-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  /*border-left-color: #fff;*/
}
.skin-green-light .sidebar-form .btn {
  color: #DBDDDF;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: transparent;
}
@media (min-width: 768px) {
  .skin-green-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

/*arradyscode*/
.content-wrapper, .right-side {
    background-color: #fff;
}

.sidebar-menu>li>a>.fa {
  background: #273441;
  color: #FFFFFF;
}

.sidebar-menu>li>a>.fa.fa.fa-angle-left.pull-right {
    width: 20px;
    padding: 0;
    margin: -6px -10px 0;
    background: none;
    color: #888585;
}
.sidebar-menu>li.aktif>a>.fa.fa.fa-angle-left.pull-right {
  margin: -5px -9px 0 0;
}

.sidebar-menu>li>a {
    padding: 12px 15px 12px 10px;
    display: block;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #273441;
    padding: 0;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 44px;
  }

.content-header {
    position: relative;
    padding: 18px 15px 17px 20px;
    /*border-bottom: 1px solid #d6d6d6;*/
    /*_background: #FFFDFD url(../img/boxed-bg.png) !important;*/
    /*box-shadow: 1px 1px 25px #CCC;*/
}

.box{
  border-radius:0;
  border-top: 2px solid #E7E4E4;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 1px solid #E7E4E4;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
  background: #FFFFFF;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  font-size: 13px;
  color: #424242;
}

.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 7px;
}

.btn {
  padding: 3px 8px;
  font-size: 12px;
}

.btn-xs {
    padding: 1px 5px;
    font-weight: 700;
    font-size: 10px;
}

.content-header>h1 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 0px;
    float:left;
}

/*.content-header>h1 > .fa {
    margin-right: 5px;
    background: #2787e7;
    color: #FFF;
    padding: 10px;
    border-radius: 20px;
}
*/

.content-header>h1 > .fa {
    margin-right: 5px;
    background: #3c8dbc;
    color: #FFF;
    padding: 10px;
    border-radius: 20px;
}

.breadcrumb {
  width:100%;
    display: table;
    font-size: 12px;
    color: #ffffff;
    box-shadow: 0px -1px 0px #e2e2e2 inset;
    border-radius: 0;
    padding-bottom: 8px;
    margin-bottom: 0px;
    padding-left: 21px !important;
    border-bottom: 1px solid #FFF;
    position: relative;
    z-index: 999;
}

.breadcrumb .fa{
  padding-right:5px;
}

.breadcrumb a, .breadcrumb>.active {
  font-size: 11px;
  color: #565656;
}

.breadcrumb>.aktif {
  color: #767676;
}

.breadcrumb a:hover {
  font-size: 11px;
  color: #2687e6;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  border-radius: 0px;
}

.content {
  min-height: 250px;
  padding: 0px;
  background: #fff;
}

.btn-group.action {
  width: 58px;
}

.btn-group.action .btn {
  width:28px;
}

.btn-group.action .btn .fa {
  font-size: 12px;
}

@media (min-width: 768px){
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: 30px;
    color: #FFF !important;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu a {
    color: #cecccc !important;
    font-weight: normal;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
    padding: 8px 5px 8px 20px;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    width: 38px!important;
    margin-top: 2px;
  }
  .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 38px!important;
  }

  .sidebar-mini.sidebar-collapse .treeview-menu>li>a {
    padding: 5px 5px 5px 0px;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    left: 38px;
    background: #20282e;
    border: 1px solid #21282e;
    border-radius: 0;
    box-shadow: none;
    color: #c1c1c1;
    padding: 13px 15px;
    font-weight: bold;
}
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 39px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    font-size: 10px;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 40px;
  }
  
.sidebar-menu>li>a>.fa {
    color: #999;
    background: none;
}

  .sidebar-menu>li {
    border-bottom: none;
  }

}

h3.title-grup {
  font-size: 12px;
  font-weight: bold;
  color: #373737;
  padding: 10px;
  margin: 0;
}

small.desc {
  color: #A9A7A7;
}

.pagination {
    margin: 5px 0;
}

.pagination a, .pagination strong {
    border: 1px solid #CECDCD;
    padding: 5px 10px;
    font-size: 11px;
    margin-right: 2px;
    background: #f7f7f7;
    color: #7B7B7B;
    box-shadow: 1px 1px 1px #f7f7f7;
}

.pagination strong, .pagination a:hover {
  background: #0C936A;
  color: #FFF;
  border: 1px solid #098962;
}

p.total-rows {
    text-align: right;
    padding: 7px 10px 0;
    color: #7D7B7B;
    margin: 0;
    font-size: 12px;
}

.logo-warning {
  height: 100px;
  background: url(../img/warning.png) no-repeat center;
  background-size: 100px;
}

.warn {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

small.detsite {
  font-size: 10px;
  color: #808080;
  padding-left: 5px;
    font-weight: normal;
}

.nav-tabs>li>a {
  font-weight: bold;
  border-color: #eee #eee #ddd;
  border-radius:0;
  padding: 8px 15px;
  font-size: 12px;
  background:#f7f7f7;
  color: #9c9696;
}

.alert-success, .alert-danger, .alert-info{
  background-image: none;
}

small.tbl {
  color: #8C8A8A;
  font-weight: normal;
}

li.treeview.aktif > a > .fa {
    /*background: #3c8dbc;*/
    color: #FFFFFF;
}

@media (max-width: 767px){
  .main-sidebar, .left-side {
      padding-top: 50px;
  }
  .skin-green-light .main-header .navbar{
    position: relative;
  }
  
}

@media (min-width: 768px){
.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 0;
}
}

.main-header .sidebar-toggle {
    /*padding: 15px 13px;*/
        padding: 14px 13px 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #333;
}

.skin-green-light .sidebar-form input[type="text"] {
  border-radius: 0;
  background: transparent;
}

span.txt {
    padding-left: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    /*color: #e0e0e0;*/
}

.sidebar-collapse span.txt {
    display:none;
}

.sidebar-collapse .sidebar-toggle {
    width: 38px !important;
    height: 50px;
}

li.dropdown.user.user-menu a {
  color: #333 !important;
  font-weight: bold;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
  background: transparent;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
  display: inline-block;
  font-size: 13px;
  margin: 0;
  line-height: 1;
}
.box-header .box-title {
  display: inherit !important;
}
a.situs {
  font-weight: bold;
    color: #237313;
}

.progress-description, .info-box-text {
  display: block;
  font-size: 13px;
  white-space: normal;
  overflow: visible;
  text-overflow: inherit;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 32px;
  width: 30px;
  text-align: center;
  font-size: 13px;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.05);
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 30px;
}

.progress-description, .info-box-text {
  display: block;
  font-size: 12px;
  white-space: normal;
  overflow: visible;
  text-overflow: inherit;
}

.info-box {
  display: block;
  min-height: 70px;
}

.info-box .progress {
  background: rgba(0, 0, 0, 0.05);
}

.product-list-in-box > .item {
  font-size: 12px;
  padding: 3px 0;
  color: #716F6F;
}

.product-list-in-box > .item .label{
  padding: 5px 10px;
}

.box-footer.info {
  font-size: 11px;
  color: #8C8989;
  font-style: italic;
}

.btn-danger {
  background-color: #B63F3F;
  border-color: #B32C1B;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
  background-color: #1DB2D7 !important;
}

.btn-hitam {
  background: #353535;
  color: #FFF;
}

.btn-hitam:hover {
  background: rgb(184, 10, 10);
  color: #FFF;
}

td.agree {
  background: rgb(210, 255, 210);
  text-align: center;
  font-weight: bold;
}

td.disagree {
  background: rgb(255, 161, 161);
  text-align: center;
  font-weight: bold;
}

td.pending {
  background: rgb(255, 254, 161);
  text-align: center;
  font-weight: bold;
}

th.agree {
  background: rgb(164, 234, 164) !important;
  text-align: center;
  font-weight: bold;
    width: 100px;
}

th.disagree {
  background: rgb(221, 92, 92) !important;
  text-align: center;
  font-weight: bold;
    width: 100px;
}

th.pending {
  background: rgb(244, 242, 93) !important;
  text-align: center;
  font-weight: bold;
    width: 100px;
}

.dettindakan {
  font-size: 12px;
  color: #5C5C5C;
  padding: 5px 0 5px 20px;
}

a.cop {
  color: #333;
}

.box-header.datatable {
    border-bottom: 1px solid #ece8e8;
    margin-bottom: 10px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid #c7c7c7;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #d8d8d8;
}

div#example_length label {
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 11px;
}

table.dataTable {
    border-top: 1px solid #dadada;
}

.box.box-white {
    border-top-color: #FFF;
}

.btn-success {
    background-color: #185ea5;
    border-color: #185ea5;
    /* border-radius: 50px; */
}

.btn-success:hover, .btn-success:active, .btn-success.hover,
.btn-success.focus, .btn-success:focus,
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
    background-color: #2e3e4e;
    border-color: #333;
}

.form-control {
    font-size: 12px;
    border-color: #b1b1b1;
}

.foto-profil-list {
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 100%;
    border: 1px solid #888888;
    cursor:pointer;
}

.foto-profil-paslon {
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 100%;
    border: 1px solid #888888;
    cursor:pointer;
}

.top-valign tr td{
  vertical-align: top;
  padding: 5px !important;
}

.top-valign table tr{
  background: transparent !important;
}

.foto-profil-saksi {
    width: 100px;
    height: 100px;
    background-size: cover;
    padding: 10px;
    border: 4px solid #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #CCC;
    cursor: pointer;
}

.img-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    margin: auto;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    top: 0px;
}


#example_processing {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    /*background-image: url(../img/ajax-loader.gif);*/
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
    text-align: center;
    padding: 0;
    margin: 0;
}

.dataTables_length select {
    border: 1px solid #ccc;
    background: white;
}


table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 10px 10px !important;
    font-size: 12px;
    font-weight: 300;
    color: #444;
}

.modal-header {
    border-bottom-color: #f4f4f4;
    background: #2a3138;
    color: #FFF;
}

.modal-content {
    box-shadow: 0px 0px 26px #333 !important;
        border: 1px solid #fff;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}

img#modal-foto {
    width: 100%;
    margin-bottom: 25px;
}

table.no_border tr td{
  border-top: none !important;
}

.select2 {
    width: 100% !important;
}

.box.box-success {
    border-top: none;
}

.box{
  box-shadow: none;
}

.dataTables_filter, .dataTables_length {
    /* display: none; */
    padding: 0;
    color: #6d6d6d;
}

input#cari {
    padding: 4px 12px;
    border: 1px solid #d2d1d1;
    box-shadow: 1px 1px 5px #f1efef inset;
}

ul.nav.nav-tabs {
    margin: 5px 5px -2px;
}

.dataTables_wrapper {
    padding-bottom: 10px;
    /*min-height: 500px;*/
}

.dataTables_wrapper .dataTables_info {
    padding-left: 15px;
    color: #909090;
}

.sidebar-menu>li.active>a>.fa.fa.fa-angle-left.pull-right {
    margin: -12px -2px 0 0;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    /*border-top: 1px dotted #ddd;*/
    border-top: 1px solid #eaeaea;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6;
}

.main-sidebar, .left-side{
      width: 200px;
      /*z-index: 99999;*/
}

.content-wrapper, .right-side, .main-footer{
  margin-left: 200px;
}

@media (max-width: 767px){
  .content-wrapper, .right-side, .main-footer {
      margin-left: 0;
  }
  .skin-green-light .main-header .navbar .sidebar-toggle{
    background: transparent;
    color:#fff;
  }
  .skin-green-light .main-header .navbar .sidebar-toggle:hover{
    background: transparent;
    color:#fff;
  }
  .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
    -webkit-transform: translate(200px, 0);
    -ms-transform: translate(200px, 0);
    -o-transform: translate(200px, 0);
    transform: translate(200px, 0);
  }
}

a.btn-detail {
    color: #444;
    /*font-weight: 600;*/
    /*transition: 500ms ease;*/
}

a.btn-detail:hover {
    color: #3c8dbc;
}

table.dataTable thead .sorting, table.dataTable thead th:first-child.sorting_asc, table.dataTable thead th:first-child.sorting_desc {
    font-size: 12px;
    /* color: #ffffff; */
    box-shadow: 0px -1px 0px #f7f7f7 inset;
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-bottom: 0px;
    padding-left: 9px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    /* background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    /* background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    /* background-image: url(../images/sort_both.png); */
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-color: #f7f7f7;
}

.form-control {
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.mce-branding{
  display:none !important;
}

.mce-flow-layout {
    white-space: normal;
    font-size: 12px;
    color: #ffffff;
    box-shadow: 0px -1px 0px #e8e8e8 inset;
    border-radius: 0;
    margin-bottom: 0px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.mce-menubtn button, .mce-btn-group .mce-btn, .mce-btn button {
    background: transparent;
}

.mce-ico {
    font-size: 14px !important;
    line-height: 20px !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
}

div#btnArcImage button {
    /*background: #b7b7b7;*/
    /*box-shadow: 1px 10px 19px #ffffff inset;*/
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 2px 5px 5px 6px;
}

#btnArcImage:hover, #btnArcImage:active{
  border:1px solid transparent;
  background: transparent;
}

div#btnArcImage button:hover {
    background: #3497db;
    box-shadow: 1px 16px 12px #167cc1 inset;
    border: 1px solid #3c7dc5;
}

div#btnYoutube button {
    /*background: #b7b7b7;*/
    /*box-shadow: 1px 10px 19px #ffffff inset;*/
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 2px 5px 5px 6px;
}

#btnYoutube:hover, #btnYoutube:active{
  border:1px solid transparent;
  background: transparent;
}

div#btnYoutube button:hover {
    background: #ec7054;
    box-shadow: 1px 16px 12px #c53c13 inset;
    border: 1px solid #ce3103;
}

.mce-btn button {
  font-size: 12px !important;
}

div#preview img {
    max-width: 100%;
    padding: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    /*margin-bottom: 15px;*/
}

div#preview img.def{
  border:none;
  margin-bottom: 0;
}

#showManager {
    cursor: pointer;
    text-align: center;
}

.panel-default>.panel-heading {
    color: #333;
    /* box-shadow: 0px -1px 0px #e8e8e8 inset; */
    border-radius: 0;
    margin-bottom: 0px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    /* background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    /* background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    border-color: #ddd;
    /* font-size: 10px; */
    border-bottom: none;
}

.panel-default>.panel-heading h3{
  font-size: 12px;
  font-weight: bold;
}

.text-notif {
    color: #ababab;
    border-top: 1px dashed #e6e6e6;
    padding-top: 10px;
}

.konten-kanan {
  padding: 0px 24px 0 25px;
}

@media (min-width: 992px){
  .konten-kanan {
    padding: 36px 35px 0 10px;
  }

  .konten-kiri {
    padding-right: 0;
    padding-top: 5px;
    padding-left: 25px;
  }
}

@media (min-width: 992px){
  .konten-kanan {
    width:320px;
  }

  .konten-kiri {
    width: calc(100% - 320px);
  }

  .kategori-kiri {
    padding: 20px 10px 0 35px;
  }

  .kategori-kanan {
    padding: 20px 30px 0 10px;
  }
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px dashed #eee;
}

.btn {
    /*border-radius: 2px;*/
    margin-right: 1px;
}

/*.btn-primary {
    background-color: #2787e7;
    border-color: #367fa9;
    box-shadow: 1px 1px 0px #449ef9 inset;
}*/

.btn-primary {
    /* background-color: #2787e7; */
    border-color: #367fa9;
    box-shadow: 1px 1px 0px #7b9fc3 inset;
}

a.hps {
    color: #6f6f6f;
    padding: 5px 0;
    float: left;
}

.btn-danger {
    background-color: #ca1919;
    border-color: #B32C1B;
    box-shadow: 1px 1px 0px #e65858 inset;
}

input[type=checkbox], input[type=radio] {
  margin: 2px 0 0;
}

.panel{
  border-radius: 0;
  /*margin-bottom: 10px;*/
}

.box{
  background: transparent;
}

.panel-footer {
    color: #ababab;
    display: table;
    width:100%;
    /*padding: 10px;*/
}

.panel-footer a{
  /*color:#333;*/
  text-decoration: underline;
  /*font-weight:600;*/
}

a.hapus {
    color: #ad5c5c;
    padding: 5px 0;
    text-decoration: none;
}

.panel-body{
  /*padding: 10px;*/
}

.checkbox {
    margin-top: 0px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #f1f1f1;
}

.checkbox:last-child {
    margin-bottom: 0;
}

.col-md-3.konten-kanan.kiri-kecil {
    padding: 30px 15px 0 30px;
}

.panel-default{
  /*border:0;*/
}

input.judul {
    font-size: 16px;
    height: 46px;
}

span.opsional {
    color: #949393;
    font-weight: 400;
    font-size: 10px;
}

.tombols {
    display: table;
    width: 100%;
    background: #f5f5f5;
    padding: 10px 15px;
    /* border-bottom: 1px solid #dadada; */
    /* border-top: 1px solid #d6d6d6; */
    /* box-shadow: 1px 1px 0px #fff inset; */
}

.breadcrumb>li#dfilter:before, .breadcrumb>li#dlength:before{
  content: "" !important;
  padding: 0;
}

.dataTables_filter input {
    border: 1px solid #CCC;
    margin-left: 10px;
    height: 16px;
}

.dataTables_filter label{
  margin: 0;
  font-weight: 300;
  font-size: 11px;
}

.dataTables_length {
    padding: 1px 10px;
}

.dataTables_length label{
  /*display:none;*/
}
/*
#dpagination {
    padding: 5px 0 0;
}

#dpagination a{
  color:#484848;
}

#dpagination a.current {
    color: #fff;
    border: 1px solid #131a1f !important;
    background: #20282e;
}

a.paginate_button.disabled, a.paginate_button.disabled:hover {
    background: #ededed !important;
    border: 1px solid #e0e0e0 !important;
  color: #a0a0a0 !important;
}

div#dinfo {
    color: #a2a2a2;
    padding: 5px 10px;
}*/

.content-header > .breadcrumb{
  position: relative;
}

.content-header>h1 p {
    font-size: 12px;
    font-weight: 300;
}

div#jumartikel {
    padding: 5px 10px;
    color: #717171;
}

p.textinfo {
    color: #868686;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ececec;
}




.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    .dd { float: left; width: 48%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content {
    display: block;
    height: 36px;
    margin: 5px 0;
    padding: 6px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #d0d0d0;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #3c8dbc; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #29719a;
    background: #ddd;
    background: -webkit-linear-gradient(top, #3c8dbc 0%, #3c8dbc 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #327094; }

.btn-default {
    background-color: #ececec;
    color: #444;
    /*border-color: #c1c1c1;*/
    box-shadow: 1px 1px 1px #FFF inset;
    text-decoration: none !important;
}

.dd-btn {
    float: right;
}

.dd-btn {
    float: right;
    padding: 0px;
    margin: 2px;
    border: 1px solid #d6d6d6;
    background: #f7f7f7;
    color: #FFF;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 19px;
    border-radius: 3px;
    cursor: pointer;
}

.dd-btn a{
  transition: 500ms ease;
  color:#444;
  padding: 2px 4px;
}

.dd-btn-edit:hover a{
  color:#FFF;
}

.dd-btn-edit:hover {
    background: #3c8dbc;
    border: 1px solid #318abd;
}


.dd-btn-trash:hover a{
  color:#FFF;
}

.dd-btn-trash:hover {
    background: #bd5b5b;
    border: 1px solid #b95d5d;
}

/*table .btn-danger {
    background-color: #2d2d2d;
    border-color: #292929;
    box-shadow: 1px 1px 0px #7d7d7d inset;
}

table .btn-danger:hover {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #1667b9;
    box-shadow: none;
}*/

.info-edit {
    background: #3c8dbc;
    color: #FFF;
    padding: 3px 10px;
    margin-bottom: 10px;
}

.info-edit:after {
    position: absolute;
    content: " ";
    width: 15px;
    height: 15px;
    margin-top: 10px;
    transform: rotate(45deg);
    background: #3c8dbc;
}

.sweet-alert h2 {
    color: #575757;
    font-size: 26px;
    /*text-align: center;*/
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 3px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

.sweet-alert p {
  color: #464444;
  font-size: 12px;
}

.sweet-alert button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    -webkit-border-radius: 4px;
    border-radius: 0px;
    padding: 8px 20px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

.ls-tema {
    float: left;
    margin: 10px 10px 0 0px;
    border: 1px solid #d6d6d6;
    padding: 10px;
    box-shadow: 1px 1px 5px #CCC;
}

.ls-tema img{
  width:180px;
  height:100px;
}

.list-all-theme {
    display: table;
    width: 100%;
    padding: 15px;
}

.ls-tema.active {
    background: #ffffff;
    border: 1px solid #1b926a;
}

.ls-tema.active:before {
    content: "\f05d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    color: #1b926a;
    font-size: 40px;
    width: 38px;
    margin: -15px -15px;
    background: #FFF;
    border-radius: 48px;
    height: 38px;
    text-align: center;
    line-height: 38px;
}

.ls_config {
    padding-bottom: 0px;
    margin-bottom: 10px;
    /*border-bottom: 1px dashed #efefef;*/
}

p.deskripsi {
    color: #adadad;
    border-top: 0;
    font-size: 10px;
    padding: 4px 10px;
}

a.paginate_button.disabled, a.paginate_button.disabled:hover,
a.paginate_button.current, a.paginate_button.current:hover
{
    background: transparent !important;
    color: #6b6a6a !important;
    border-color:transparent !important;
}

div#dpagination {
    padding: 3px 0px 0;
}

a.paginate_button{
  color:#333;
}

.dataTables_wrapper .dataTables_paginate {
    margin-right: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img{
  border-color:transparent;
}

button.tanpa-apa-apa {
    margin: 25px 20px 0;
    border: none;
    background: transparent;
}

button.tanpa-apa-apa img{
  margin-right: 5px;
}

button.tanpa-apa-apa:focus{
  outline:0;
}

button.tanpa-apa-apa + .dropdown-menu {
    background: #21282e;
    color: #FFF;
}

button.tanpa-apa-apa + .dropdown-menu a{
  color:#FFF;
  font-size: 12px;
}

button.tanpa-apa-apa + .dropdown-menu a:hover {
    color: #ececec;
    background: #3c8dbc;
}

@media (max-width: 767px){
  button.tanpa-apa-apa{
    margin: 15px;
    color:#f7f7f7;
    font-weight: 600;
  }
  .navbar-nav .open .dropdown-menu{
    position: absolute;
    background: #21282e;
    color: #FFF;
    margin-top: 2px;
  }
  .skin-green-light .main-header .navbar .dropdown-menu li a:hover {
    background: #3c8dbc;
  }
  button.tanpa-apa-apa img{
    display: none;
  }
}

.danger {
    color: #ad5c5c;
    padding: 5px 7px;
    margin-bottom: 7px;
    background: #f1e1e1;
    border: 1px solid #ead5d5;
}

span.menyimpan {
    display: none;
    color: #545454;
    float: right;
    font-weight: normal;
}

.loading {
    background:rgba(255,255,255,0.7);
    z-index: 99;
    position: absolute;
    display:none;
}

.pilihgambar {
    border: 1px solid #dadada;
    padding: 5px;
    margin: 20px 20px 0 0;
    width: 250px;
    float: left;
    text-align: center;
    box-shadow: 0px 0px 7px #CCC;
}

.pilihgambar img{
  width: 100%;
  height:120px;
  cursor: pointer;
}

.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  /*display: table;*/
  /*width: 100%;*/
}

.alert-white {
  background-image: linear-gradient(to bottom, #fff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}

.alert-white.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  margin: -1px;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #bdbdbd;
  padding-top: 15px;
}


.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
/*============ colors ========*/
.alert-success {
  color: #3c763d !important;
  background-color: #dff0d8;
  /*border-color: #d6e9c6 !important;*/
}

.alert-white.alert-success .icon, 
.alert-white.alert-success .icon:after {
  border-color: #54a754;
  background: #60c060;
}

.alert-info {
  background-color: #d9edf7 !important;
  /*border-color: #98cce6 !important;*/
  color: #3a87ad !important;
}

.alert-white.alert-info .icon, 
.alert-white.alert-info .icon:after {
  border-color: #3a8ace;
  background: #4d90fd;
}


.alert-white.alert-warning .icon, 
.alert-white.alert-warning .icon:after {
  border-color: #d68000;
  background: #fc9700;
}

.alert-warning {
  background-color: #fcf8e3 !important;
  /*border-color: #f1daab !important;*/
  color: #c09853 !important;
}

.alert-danger {
  background-color: #f2dede !important;
  /*border-color: #e0b1b8 !important;*/
  color: #b94a48 !important;
}

.alert-white.alert-danger .icon, 
.alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #da4932;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 15px;
    padding: 0;
    margin-left: 0;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #3c8dbc !important;
    border: 1px solid transparent;
    border-radius: 0;
}


